/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	height: 1800px;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ff9900; /* Hover 및 Active 시 색상 변경 */
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
	width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
	bottom: 0px;
	position: fixed;
}

.scroll-top-btn,
.scroll-bottom-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.scroll-top-btn:hover,
.scroll-bottom-btn:hover {
    background-color: #0056b3; /* Hover 시 색상 변경 */
}